body{
    background-color: #9d9d9d;
}
.main{
    margin: 30px;
    background-color: #ffffff;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width:65px;
    height:65px;
}
.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.pageNav{
    float:right;
    margin-right: 15px;
}
.profile .mycentor
{margin-top:5px;

}

.question .questiontile{
    margin-left: 3px;
}